doctype html
html
   head
      title Go to Head
      style(type="text/css").
         span{border: 1px solid #dddddd;}
      style(data-above-the-fold="true" type="text/css") body{font-size:100%}h1{font-size:2em}
   body
      h1 Grunt plugin gotohead
