doctype html
html
   head
      title Go to Head
      style(type="text/css").
         span{border: 1px solid #dddddd;}
      style(data-above-the-fold="true")
   body
      h1 Grunt plugin gotohead
